body {
  font-size: 16px;
  min-width: 320px;
  height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.visually-hidden {
  display: none;
}

.wrapper {
  width: 280px;
  margin: $mgn;
}

.page-main {
  width: $wmobile;
}

.page-footer {
  width: $wmobile;
}
