.intro {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 240px;
  background-color: #1d2631;
  color: $fcolor;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  padding: 0 0 30px 0;
}

.intro::before {
  content: "url(../img/iphone-hand-mobile@1x.png)";
  position: absolute;
  top: -287px;
  left: 0;
}

.intro__btn {
  display: block;
  width: 280px;
  margin: 30px auto;
  border: 3px solid #ffffff;
  text-align: center;
  font-size: $fsize;
  line-height: 18px;
  font-weight: bold;
  color: $fcolor;
  text-decoration: none;
  padding: 15px 0 17px 0;
  border-radius: 30px;
}

.intro__description {
  padding: 0 20px;
}
.intro__title {
  padding: 0 20px;
  font-size: 24px;
  font-weight: lighter;
  color: $fcolor;
}
