.intro {
  height: 240px;
  background-color: $color-second;
  background-image: url(../img/iphone-hand-mobile@1x.png);
  background-repeat: no-repeat;
  color: $fcolor;
  text-align: center;
  font-size: $fsize-little;
  line-height: 1.7;
  font-weight: 300;
  padding: 0 0 30px 0;
}

.intro__btn {
  display: block;
  width: 280px;
  margin: 30px auto;
  border: 3px solid #ffffff;
  text-align: center;
  font-size: $fsize;
  line-height: 1;
  font-weight: bold;
  color: $fcolor;
  text-decoration: none;
  padding: 15px 0 17px 0;
  border-radius: 30px;
}

.intro__description {
  padding: 0 20px;
}

.intro__title {
  padding: 0 20px;
  font-size: $fsize-big;
  font-weight: 300;
  color: $fcolor;
}
