.page-header {
  width: 320px;
  margin: $mgn;
  background-color: $bcolor;
  background-image: "url(../img/bg-back-mobile@1x.jpg)";
  background-size: cover;
  background-position: center center;
  height: 730px;
}

.page-header__top {
  position: relative;
  height: 100%;
}
