.prices {
  background-color: $color-first;
  text-align: center;
}

.prices .wrapper {
  margin: 0;
}

.prices__table {
  border: 2px solid #e5e5e5;
  width: 100%;
  border-spacing: 0;
}

.prices__item {
  width: 100%;
}

.prices__cell {
  font-size: $fsize-little;
  line-height: 2.1;
  color: $bg-color;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 2px solid #e5e5e5;
  padding: 0;
}

.prices__cell--head {
  background-color: $bg-color;
  color: $fcolor;
  text-transform: uppercase;
  font-size: $fsize;
  line-height: 1.9;
  text-align: center;
  padding: 25px 0;
  border-spacing: 0;
}

.prices__cell--head span {
  display: block;
  font-size: $fsize-big;
  font-weight: 300;
}
