.promo {
  background-color: $fcolor;
  color: $bg-color;
  font-size: $fsize-big;
  line-height: 1.25;
  font-weight: 300;
}

.promo p {
  padding: 0 20px;
  text-align: center;
}

.page-main .wrapper p {
  width: 280px;
  font-size: $fsize-little;
  font-weight: 400;
  padding: 0;
}
