.promo {
  @include font-set(300, 1.25);
  background-color: $fcolor;
  color: $bg-color;
  font-size: $fsize-big;
}

.promo-slogan {
  padding: 0 20px;
  text-align: center;
}

@media (min-width: 660px) {
  .promo-slogan {
    @include font-set(300, 1.6);
    font-size: 50px;
    margin: $mgn;
    padding: 0 35px;
  }
}