.promo {
  background-color: $fcolor;
  color: #283645;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
}
.promo p {
  padding: 0 20px;
  text-align: center;
}
.page-main .wrapper p {
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
}
