.reviews {
  background-color: $fcolor;
  width: 280px;
  padding: 0 20px;
  text-align: center;
}

.reviews__item {
  margin: 0;
}

.reviews__author {
  font-style: normal;
  font-size: $fsize;
  
  @include font-set(bold, 1.6);
}

.reviews__text {
  color: $bg-color;
  font-size: $fsize-little;
  line-height: 2.1;
}
