$fcolor: #ffffff;
$bcolor: #283645;
$fcolorh: #d22856;
$fcolorv: #6c7682;
$fsize: 18px;
$wmobile: 320px;
$mgn: 0 auto;
@import "normalize";
@import "base.scss";
@import "page-header.scss";
@import "main-menu.scss";
@import "intro.scss";
@import "page-main.scss";
@import "promo.scss";
@import "photo.scss";
@import "palette.scss";
@import "contest-form.scss";
@import "features.scss";
@import "reviews.scss";
@import "slider.scss";
@import "prices.scss";
@import "contacts.scss";
@import "map.scss";
@import "page-footer.scss";
@import "modal.scss";